<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaylorMade</title>
<!--  <meta http-equiv="refresh" content="2"> <!-- Auto-refresh every 2 seconds -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>TaylorMade</h1>
  <div class="ports">
    <div class="port">
      <div class="plug-icon">🔌</div>
      <div class="outlet">Outlet 1</div>
      <button id="on-1" class="on" onclick="togglePort(1, true)">ON</button>
      <button id="off-1" class="off" onclick="togglePort(1, false)">OFF</button>
    </div>
    <div class="port">
      <div class="plug-icon">🔌</div>
      <div class="outlet">Outlet 2</div>
      <button id="on-2" class="on" onclick="togglePort(2, true)">ON</button>
      <button id="off-2" class="off" onclick="togglePort(2, false)">OFF</button>
    </div>
    <div class="port">
      <div class="plug-icon">🔌</div>
      <div class="outlet">Outlet 3</div>
      <button id="on-3" class="on" onclick="togglePort(3, true)">ON</button>
      <button id="off-3" class="off" onclick="togglePort(3, false)">OFF</button>
    </div>
    <div class="port">
      <div class="plug-icon">🔌</div>
      <div class="outlet">Outlet 4</div>
      <button id="on-4" class="on" onclick="togglePort(4, true)">ON</button>
      <button id="off-4" class="off" onclick="togglePort(4, false)">OFF</button>
    </div>
  </div>
  
  <div class="analysis">
    <h2>Analysis</h2>
    <button onclick="location.href='/today.html'">Today</button>
    <button onclick="location.href='/history.html'">History</button>
  </div>

  <footer>
    &copy; 2025 TaylorMade.
  </footer>

  <script>
    function togglePort(port, state) {
      fetch(`/${state ? 'ON' : 'OFF'}?port=${port}`)
		.then(() => updateStatus());
    }

    async function updateStatus() {
      const res = await fetch("/portstatus");
      const status = await res.json();

      Object.keys(status).forEach(port => {
        const isOn = status[port];
        const onBtn = document.getElementById(`on-${port}`);
        const offBtn = document.getElementById(`off-${port}`);

        if (isOn) {
          onBtn.classList.add("on");
          onBtn.classList.remove("off");
          offBtn.classList.remove("on");
          offBtn.classList.add("off");
        } else {
          onBtn.classList.remove("on");
          onBtn.classList.add("off");
          offBtn.classList.add("on");
          offBtn.classList.remove("off");
        }
      });
    }

    //setInterval(updateStatus, 2000); // Update every 2 seconds
    updateStatus();
  </script>
</body>
</html>
